body {
    font-family: "Helvetica", Arial, sans-serif;
  }
  
  .layout {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    align-items: center;
    padding: 0 1rem;
    background-color: #f5f5f5;
  }
  
  /* Left Links Section */
  .links {
    display: flex;
    flex-direction: column;
  }
  
  .links a {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #000; /* Default color is black */
    line-height: 1.2;
    transition: color 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .links:hover a {
    color: #888; /* Turn all links gray when hovering over the container */
  }
  
  .links a:hover {
    color: #000; /* Keep hovered link black */
  }
  
  /* Right Section */
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  
  /* Black Icon */
  .icon {
    width: 150px;
    height: 150px;
    background-color: black;
    clip-path: path(
      "M50 0C77.6142 0 100 22.3858 100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0ZM50 20C61.0457 20 70 28.9543 70 40C70 51.0457 61.0457 60 50 60C38.9543 60 30 51.0457 30 40C30 28.9543 38.9543 20 50 20Z"
    );
  }
  
  /* Floating Buttons */
  .floating-buttons {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -2rem;
    right: -3rem;
  }
  
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .button.purple {
    background-color: #6c5ce7;
  }
  
  .button.chrome {
    background-color: #fbbc04;
  }
  


  #fixed-flower {
    position: fixed;
    bottom: 10px; /* initial position at the top */
    right: 10px; /* initial position at the right */
    transition: all 0.3s ease; /* smooth transition for movement */
  }
  
  .footer-reached #fixed-flower {
    bottom: 0 ; /* move to the bottom when footer is reached */
    top: auto; /* remove the top positioning */
    right: 10px; /* keep it at the right side */
  }
  
  .custom-cursor {
    cursor: url('/public/logo512.png');
  }

  .port {
    scroll-behavior: smooth;
  }
  